* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* This sets the body's background color */
body {
    background-color: #d9dcd6;
}
/* This styles the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* The h1 is given a font-side and color. */
h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

/* The naviagation menu floats to the right of the main heading. */

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* The main figure is inserted */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* The main content of the page */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* The sidebar is styled here. */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}


/* These properties apply to the sections within the sidebar */
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}



h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Style of images within the sidebar */
aisde img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The indiviual sections are styled here */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This styles any images that are not inside the sidebar. */
 img {
    max-height: 200px;
}



h2 {
    margin-bottom: 20px;
    font-size: 36px;
}



/* The footer is at the bottom of the page. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h4 {
    font-size: 20px;
}
